*{padding: 0px; margin: 0px;}
body{font-family: arial, helvetica, sans-serif; font-size: 18px;}
a{text-decoration: none; color: #fff;}
a:hover{color: #3399fe;}
  @media only screen and (max-width: 480px) {
    footer{background-color: #000; color: #fff; width: 100%; line-height: 60px; height: 60px; text-align: center;}
    .footer-bottom{text-align: center;}
    .footer-bottom-copyright-text{width: 100%; line-height: 60px; height: 60px; font-size: 75%}
    .footer-bottom-social-icons{background-color: #000;}
    #footer-social-links li{list-style: none; display: inline-block; padding: 0px 10px;}
}

@media only screen and (max-width: 768px) {
  footer{background-color: #000; color: #fff; width: 100%; line-height: 60px; height: 60px; text-align: center;}
  .footer-bottom{text-align: center;}
  .footer-bottom-copyright-text{width: 100%; line-height: 60px; height: 60px;}
  .footer-bottom-social-icons{background-color: #000;}
  #footer-social-links li{list-style: none; display: inline-block; padding: 0px 10px;}
}

@media only screen and (max-width: 960px) {
  footer{background-color: #000; color: #fff; width: 100%; line-height: 60px; height: 60px; text-align: center;}
  .footer-bottom{text-align: center;}
  .footer-bottom-copyright-text{width: 100%; line-height: 60px; height: 60px;}
  .footer-bottom-social-icons{background-color: #000;}
  #footer-social-links li{list-style: none; display: inline-block; padding: 0px 10px;}
}

@media only screen and (min-width: 961px) {
  footer{background-color: #000; color: #fff; width: 100%; line-height: 60px; height: 60px; text-align: center;}
  .footer-bottom{text-align: left;}
  .footer-bottom-copyright-text{max-width: 480px; float: left; padding: 10px 10px 0px 10px; line-height: 60px; height: 60px;}
  .footer-bottom-social-icons{background-color: #000; text-align: right; padding: 0px 10px;}

    /*
    .footer-bottom-social-icons{background-color: #000; text-align: right; padding: 0px 10px;}*/
    #footer-social-links li{list-style: none; display: inline-block; padding: 15px 10px;}
}
